<section class="employee-card">
    <span class="name">
        <h1><%=firstName%> <%=lastName%></h1>
    </span>
    <div class="image-data">
        <img src=<%= imageUrl %> alt="image of the employee">
        <div class="data">
            <ul>
                <li>Birthyear: <%=birthYear %></li>
                <li>Role: <%=role %></li>
                <li>Level: <%=level %></li>
                <li>Experience: <%=experienceYears%></li>
                <li>Salary: <%=salary%></li>
                <li>SocialSecurity: <%=socialSecurityNumber%></li>
            </ul>
        </div>
    </div>
</section>